<?xml version="1.0"?>
<config>
	  <tabs>
		<manv_responsivebannersetting translate="label" module="responsivebannerslider">
            <label>Manv_Responsive Baner</label>
            <sort_order>0</sort_order>
        </manv_responsivebannersetting>
	  </tabs>
	  <sections>
		<general_setting  translate="label" module="responsivebannerslider">                    
		<label>General Setting</label>
		<tab>manv_responsivebannersetting</tab>
		<frontend_type>text</frontend_type>
		<sort_order>0</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <banner_setting translate="label"> 
					  <label>Banner Setting</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <baner_eanble translate="label">
                            <label>Enable </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </baner_eanble>
                          <slide_speed translate="label">
                            <label>Slide Speed</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Example : 500</comment>
                          </slide_speed>
                          <banner_loop translate="label">
                            <label>Banner Loop</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </banner_loop>
                          <slide_type translate="label">
                            <label>Style Type </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_Diyoptions13946163153</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </slide_type>
                          <pauseonhover translate="label">
                            <label>Pause OnHover</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </pauseonhover>
					   </fields>
					   </banner_setting>
					</groups>
		</general_setting>
	  </sections>
</config>
