<?xml version="1.0"?>
<config>
  <modules>
    <Manv_Responsivebannerslidermanv>
      <version>1.1.1</version>
    </Manv_Responsivebannerslidermanv>
  </modules>
  <frontend>
    <routers>
      <responsivebannerslidermanv>
        <use>standard</use>
          <args>
            <module>Manv_Responsivebannerslidermanv</module>
            <frontName>responsivebannerslidermanv</frontName>
          </args>
      </responsivebannerslidermanv>
    </routers>
		<layout>
		  <updates>
			<responsivebannerslidermanv>
			  <file>responsivebannerslidermanv.xml</file>
			</responsivebannerslidermanv>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <responsivebannerslidermanv>
        <class>Manv_Responsivebannerslidermanv_Helper</class>
      </responsivebannerslidermanv>
    </helpers>
	<blocks>
	  <responsivebannerslidermanv>
		<class>Manv_Responsivebannerslidermanv_Block</class>
	  </responsivebannerslidermanv>
	</blocks>
	<models>
	  <responsivebannerslidermanv>
		<class>Manv_Responsivebannerslidermanv_Model</class>
		<resourceModel>responsivebannerslidermanv_mysql4</resourceModel>
	  </responsivebannerslidermanv>
	  <responsivebannerslidermanv_mysql4>
		<class>Manv_Responsivebannerslidermanv_Model_Mysql4</class>
		<entities>		  
			  <responsivebannerslidermanv>
				<table>manvresponsivebannerslider</table>
			  </responsivebannerslidermanv>
        </entities>
	  </responsivebannerslidermanv_mysql4>
	</models>
	<resources>
	  <responsivebannerslidermanv_setup>
		<setup>
		  <module>Manv_Responsivebannerslidermanv</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </responsivebannerslidermanv_setup>
	  <responsivebannerslidermanv_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </responsivebannerslidermanv_write>
	  <responsivebannerslidermanv_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </responsivebannerslidermanv_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <responsivebannerslidermanv>
	    <use>admin</use>
		<args>
		  <module>Manv_Responsivebannerslidermanv</module>
		  <frontName>responsivebannerslidermanv</frontName>
		</args>
	  </responsivebannerslidermanv>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <responsivebannerslidermanv module="responsivebannerslidermanv">
		<title>Responsivebannerslidermanv</title>
		<sort_order>100</sort_order>
		<children>
		  <responsivebannerslidermanv module="responsivebannerslidermanv">
		    <title>Manage Responsivebannerslidermanv</title>
			<sort_order>0</sort_order>
			<action>responsivebannerslidermanv/adminhtml_responsivebannerslidermanv</action>
		  </responsivebannerslidermanv>
		</children>
	  </responsivebannerslidermanv>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<responsivebannerslidermanv translate="title" module="responsivebannerslidermanv">
			  <title>Responsivebannerslidermanv</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <responsivebannerslidermanv translate="title">
			<title>Manage Responsivebannerslidermanv</title>
			<sort_order>0</sort_order>
		  </responsivebannerslidermanv>
			  </children>
			</responsivebannerslidermanv>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<responsivebannerslidermanv>
		  <file>responsivebannerslidermanv.xml</file>
		</responsivebannerslidermanv>
	  </updates>
	</layout>
  </adminhtml>
</config> 